.enter--img {
  background: url(/Air-Asia/img/enter__page/bg.jpg) top center no-repeat;
}

.enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 960px;
  
}

.enter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 52.5px;
}
