.hello__container {
  display: flex;
  flex-direction: column;
  min-height: 427px;
  justify-content: flex-end;
}

.hello__title {
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  max-width: 45%;
}

.hello__subtitle {
  margin-top: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.hello__button {
  margin-top: 34px;
}
