html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.42;
}

body,
html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  margin: 0;
  background: #001821;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1141px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 1200px;
}

.wrapper--img {
  background: url(/Air-Asia/img/1.jpg) center top no-repeat,
    url(/Air-Asia/img/2.jpg) center bottom 147px no-repeat;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  margin-bottom: 30px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  margin-right: 79px;
}

.contacts {
  margin-top: 10px;
}

.contacts__info {
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 54px;
}

.menu__item:hover {
  color: #da0100;
}

.contacts {
  font-style: normal;
}

.contacs__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.title--dark {
  color: #000;
}

.button {
  width: 168px;
  padding: 18px 0;
  background: #f5170e;
  border-radius: 35px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFF;
  line-height: 19px;
}

.page-content {
  background: #fff;
  padding: 98px 0;
}

.feedbacks {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #818181;
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 70px;
}

.feedbacks__item {
  margin-bottom: 20px;
}

.feedback {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #f4f5f5;
  border-radius: 5px;
}

.feedback__header {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.avatar {
  width: 142px;
  height: 142px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 22px;
}

.feedback__user {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 11px;
  color: #1a1b1e;
}

.feedback__user:hover {
  color: #2e77a4;
  text-decoration: underline;
}

.feedback__user::after {
  content: url("/Air-Asia/img/feedback__page/vk-blue1.png");
  height: 29px;
  margin-left: 7px;
}

.feedback__tags {
  display: flex;
  align-items: flex-start;
}

.tag {
  font-size: 13px;
  color: #303030;
  background: #e7e7e7;
  padding: 10px 17px;
  border-radius: 35px;
}

.tag--bg--green {
  background: #b9eae4;
}

.feedback__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #1a1b1e;
  margin-bottom: 13px;
}

.feedback__text {
  margin-bottom: 50px;
}

.feedback__date {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  color: #1a1b1e;
}
