.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.footer__main {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 130px;
  margin-top: 56px;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
}

.social {
  margin-right: 68px;
  margin-bottom: 7px;
  display: flex;
}

.social__item {
  vertical-align: middle;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}

.social__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.social__item {
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 50%;
  position: relative;
}

.social__item--icon--tg .social__link {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  transform: translate(-50%, -50%);
  background: url("/Air-Asia/img/icon/icon__sprites.png") -10px -66px;
}

.social__item--icon--tg:hover .social__link {
  background: url("/Air-Asia/img/icon/icon__sprites.png") -66px -122px;
}

.social__item--icon--vk .social__link {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  transform: translate(-50%, -50%);
  background: url("/Air-Asia/img/icon/icon__sprites.png") -66px -66px;
}

.social__item--icon--vk:hover .social__link {
  background: url("/Air-Asia/img/icon/icon__sprites.png") -122px -10px;
}

.social__item--icon--fb .social__link {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  transform: translate(-50%, -50%);
  background: url("/Air-Asia/img/icon/icon__sprites.png") -10px -10px;
}

.social__item--icon--fb:hover .social__link {
  background: url("/Air-Asia/img/icon/icon__sprites.png") -122px -66px;
}

.social__item--icon--inst .social__link {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  transform: translate(-50%, -50%);
  background: url("/Air-Asia/img/icon/icon__sprites.png") -66px -10px;
}

.social__item--icon--inst:hover .social__link {
  background: url("/Air-Asia/img/icon/icon__sprites.png") -10px -122px;
}


.contacts__call {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9a9a9a;
  text-align: right;
}
