.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.footer__main {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 130px;
  margin-top: 56px;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
}

.social {
  margin-right: 68px;
  margin-bottom: 7px;
  display: flex;
}

.social__item {
  vertical-align: middle;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}

.social__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.social__item--icon--tg .social__link {
  background: url(/Air-Asia/img/icon/t.svg);
}

.social__item--icon--tg .social__link:hover {
  background: url(/Air-Asia/img/icon/hover/t.svg);
}

.social__item--icon--vk .social__link {
  background: url(/Air-Asia/img/icon/vk.svg);
}

.social__item--icon--vk .social__link:hover {
  background: url(/Air-Asia/img/icon/hover/vk.svg);
}

.social__item--icon--fb .social__link {
  background: url(/Air-Asia/img/icon/fb.svg);
}

.social__item--icon--fb .social__link:hover {
  background: url(/Air-Asia/img/icon/hover/f2.svg);
}

.social__item--icon--inst .social__link {
  background: url(/Air-Asia/img/icon/in.svg);
}

.social__item--icon--inst .social__link:hover {
  background: url(/Air-Asia/img/icon/hover/in.svg);
}

.contacts__call {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9a9a9a;
  text-align: right;
}
